%-*-Erlang-*-

{erl_opts,              [debug_info]}.

{deps,[{erlog,   ".*", {git, "https://github.com/zkessin/erlog.git", {branch, "custom_server"}}},
       {eqcmini, ".*", {git, "git@github.com:alepharchives/eqcmini.git", head}},
       {seqbind, ".*", {git, "https://github.com/spawngrid/seqbind.git", "e4e412113af92c89e5e515d8e56e7172a30730d8"}}]}.
%% {cover_export_enabled,  false}.
{cover_enabled,         true}.
{cover_print_enabled,   true}.

